/* this is a box-shadow valor */
/* https://fonts.google.com/specimen/Cinzel?category=Serif
font-family: 'Cinzel', serif; */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
/* https://fonts.google.com/specimen/Plus+Jakarta+Sans?category=Sans+Serif
font-family: 'Plus Jakarta Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap");
/* --START--BOX-SIZING AND REM CONFIG-- */
html {
  font-size: 137.5%; /* 1rem=22px */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width: 920px) {
  html {
    font-size: 125%; /* 1rem=20px */
  }
}
@media (max-width: 480px) {
  html {
    font-size: 112.5%; /* 1rem=18px */
  }
}
body {
  font-size: 1rem;
  background-color: #1F2732;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* --END--BOX-SIZING AND REM CONFIG-- */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #161D27;
}
html::-webkit-scrollbar-thumb {
  background: #FEC93F;
  border-radius: 8px;
  border: 3px solid #161D27;
}

a {
  text-decoration: none;
}

main {
  height: 100rem;
}

button {
  padding: 0.5rem;
  background: #D1B06B;
  border: 2px solid #FEC93F;
  margin: 0.5rem;
  border-radius: 8px;
  color: #000000;
  font-family: "Cinzel", serif;
  transition: all 1s;
}
button:hover {
  background-color: #FEC93F;
  cursor: pointer;
}

.hero {
  width: 100%;
  height: 20rem;
  margin: 1rem 0rem;
  /*  cover, need to put the source of the starting from css/style.css */
  background: url(../src/img/background.jpg) no-repeat 50% 100%;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .hero__content {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero .hero__content .hero__content--title {
  font-size: 6rem;
  color: #FEC93F;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgba(22, 29, 39, 0.95);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 5px 5px #11161C;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  height: 3rem;
  margin: 0;
  font-family: "Cinzel", serif;
}
.header .header__logo a {
  color: #ffffff;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.header .header__logo a img {
  height: 100%;
  margin-right: 10px;
}
.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav a {
  padding: 0.5rem;
  border: 4px solid transparent;
  border-radius: 18px;
  color: white;
  transition: all 1s;
}
.header .header__nav a:hover {
  background-color: #FEC93F;
  border: 4px solid #2E3947;
  border-radius: 24px;
  color: #000000;
}

/*# sourceMappingURL=style.css.map */
