@charset "UTF-8";
/* https://fonts.google.com/specimen/Cinzel?category=Serif
font-family: 'Cinzel', serif; */
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap");
/* https://fonts.google.com/specimen/Plus+Jakarta+Sans?category=Sans+Serif
font-family: 'Plus Jakarta Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap");
/* https://fonts.google.com/specimen/Playfair+Display?preview.text=Guadalajara&preview.text_type=custom&category=Serif
font-family: 'Playfair Display', serif; */
@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap");
/* this is a box-shadow valor */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #161D27;
}
html::-webkit-scrollbar-thumb {
  background: #FEC93F;
  border-radius: 8px;
  border: 3px solid #161D27;
}

/* --START--BOX-SIZING AND REM CONFIG-- */
html {
  font-size: 137.5%; /* 1rem=22px */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width: 920px) {
  html {
    font-size: 125%; /* 1rem=20px */
  }
}
@media (max-width: 480px) {
  html {
    font-size: 112.5%; /* 1rem=18px */
  }
}
body {
  font-size: 1rem;
  background-color: #161D27;
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
  width: 100%;
}

/* --END--BOX-SIZING AND REM CONFIG-- */
a {
  text-decoration: none;
}

button {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
}
button:hover, button:focus {
  background-color: #FEC93F;
  cursor: pointer;
}

h3 {
  text-align: center;
}

.header {
  position: sticky;
  top: 0px;
  background-color: rgba(22, 29, 39, 0.95);
  backdrop-filter: blur(2px);
  box-shadow: 0px 4px 5px 5px #11161C;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  height: 3rem;
  margin: 0;
  font-family: "Cinzel", serif;
  z-index: 999;
  /* hamburguer */
}
.header .header__logo a {
  color: #ffffff;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
}
.header .header__logo a img {
  height: 100%;
  margin-right: 10px;
}
.header .header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__nav a {
  padding: 0.5rem;
  border: 4px solid transparent;
  border-radius: 18px;
  color: white;
}
.header .header__nav a:hover, .header .header__nav a:focus {
  background-color: #FEC93F;
  border: 4px solid #2E3947;
  border-radius: 24px;
  color: #000000;
  transition: all 0.8s;
}
.header .header__button a {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
  margin: 0.5rem;
}
.header .header__button a:hover, .header .header__button a:focus {
  background-color: #FEC93F;
  cursor: pointer;
}
.header .hamburguer {
  width: 2rem;
  height: 2rem;
  display: none;
  cursor: pointer;
}
@media (max-width: 920px) {
  .header .hamburguer {
    display: block;
  }
}
.header .hamburguer img {
  width: 2rem;
  height: 2rem;
  margin: auto;
}

/* nav var mobile */
@media (max-width: 920px) {
  .header {
    position: sticky;
    top: 0px;
  }
  .header .header__nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 99%;
    background: rgba(22, 29, 39, 0.95);
    display: flex;
    flex-direction: column;
  }
  .header .header__nav a {
    margin: auto;
  }
}
.hero {
  width: 100%;
  height: 20rem;
  margin: 1rem auto;
  /*  cover, need to put the source of the starting from css/style.css */
  background: url(../src/img/background.jpg) no-repeat 50% 100%;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .hero__content {
  width: 100%;
  height: 100%;
}
.hero .hero__content .hero__content--title {
  font-size: 6rem;
  color: #FEC93F;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
  margin: 1rem 0 0 0;
  font-family: "Cormorant SC", serif;
  font-weight: 200;
}
.hero .hero__content :nth-child(2) {
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #ffffff;
  font-family: "Cinzel", serif;
  margin-top: 1rem;
}
.hero .hero__content :nth-child(3) {
  color: #ffffff;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
  font-size: 1.2rem;
  max-width: 40rem;
  margin: 0rem auto;
  font-weight: 400;
}

.reserve {
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  width: 90%;
  margin: -4rem auto 1rem auto;
  padding: 2rem;
  position: static;
  border: 2px solid #1F2732;
}
.reserve form {
  display: grid;
  grid-template-columns: 3fr 3fr 2fr 2fr;
  gap: 1rem;
}
.reserve form .input {
  display: grid;
  gap: 1rem;
  color: #ffffff;
  font-size: 1rem;
}
.reserve form .input select, .reserve form .input input {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  width: 100%;
  height: 2rem;
  border-radius: 8px;
}
.reserve form .input select:hover, .reserve form .input select:focus, .reserve form .input input:hover, .reserve form .input input:focus {
  background-color: #FEC93F;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 3fr 2fr;
  width: 80%;
  margin: 4rem auto;
  gap: 2rem;
}
.about .video {
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  height: 20rem;
}
.about .video iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 8px;
}
.about .video .controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .video .controls span {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  background-color: #2E3947;
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin: 1rem;
}
.about .video .controls span:hover, .about .video .controls span:focus {
  background-color: #FEC93F;
  cursor: pointer;
}
.about .info {
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  padding: 1rem;
}
.about .info span {
  color: #D1B06B;
  margin-left: 1rem;
}
.about .info h3 {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  font-size: 3rem;
  margin: 0;
}
.about .info p {
  margin: 0 0 2rem 0;
  text-align: justify;
}
.about .info a {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
}
.about .info a:hover, .about .info a:focus {
  background-color: #FEC93F;
  cursor: pointer;
}

.visit {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
  overflow: hidden;
}
.visit article {
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
}
.visit article:hover img, .visit article:focus img {
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.visit article img {
  height: 15rem;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.visit article .legend {
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
}
.visit article .legend h4 {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  margin: 1rem 0 0 0;
}
.visit article .legend span {
  color: #D1B06B;
  margin: 0;
}
.visit article .legend p {
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 2rem;
}
.visit article .legend div {
  width: 100%;
  margin-top: 2rem;
}
.visit article .legend div a {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
  margin: 0 1rem 1rem auto;
  text-decoration: none;
  color: #000000;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.visit article .legend div a:hover, .visit article .legend div a:focus {
  background-color: #FEC93F;
  cursor: pointer;
}

.experiences {
  width: 100%;
  height: 15rem;
  margin: 1rem auto;
  /*  cover, need to put the source of the starting from css/style.css */
  background: url(../src/img/guadalajara/mariachi.jpg) no-repeat 0% 0%;
  background-size: cover;
  background-attachment: fixed;
}
.experiences .content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: auto;
  overflow: hidden;
  width: 95%;
  height: 100%;
}
.experiences .content article {
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 12rem;
  width: 100%;
  padding: 1rem;
  background-color: rgba(22, 29, 39, 0.95);
}
.experiences .content article img {
  height: 3rem;
  margin: auto;
}
.experiences .content article h4 {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  color: #ffffff;
  text-align: center;
}
.experiences .content article:hover, .experiences .content article:focus {
  cursor: pointer;
}

.gallery {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
  overflow: hidden;
  width: 80%;
}
.gallery article {
  position: relative;
  border-radius: 8px;
  break-inside: avoid;
  margin: 0 0 1rem 0;
}
.gallery article img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.gallery article div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 0;
  border-radius: 8px;
}
.gallery article div p {
  font-size: 2rem;
}
.gallery article div span {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
}
.gallery article:hover div {
  opacity: 1;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.reviews {
  display: flex;
  gap: 2rem;
  width: 90%;
  margin: auto;
}
.reviews .text {
  margin: auto;
  flex: 1;
  padding: 0.5rem;
}
.reviews .text span, .reviews .text h3, .reviews .text p {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  text-shadow: 0px 0px 5px #FEC93F;
}
.reviews .text h3 {
  color: #ffffff;
  font-size: 2rem;
}
.reviews .clients {
  flex: 2;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.reviews .clients article {
  background-color: #2E3947;
  box-shadow: 0px 4px 10px #2E3947;
  border-radius: 8px;
  margin: auto;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex: 1;
  margin: 1rem;
  height: auto;
}
.reviews .clients article img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.reviews .clients article .comment span {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

.banner {
  width: 100%;
  height: auto;
  margin: 1rem auto 0 auto;
  /*  cover, need to put the source of the starting from css/style.css */
  background: url(../src/img/cabañas.jpg) no-repeat 0% 20%;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner span {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  font-size: 2rem;
  margin-top: 2rem;
}
.banner h3 {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  color: #ffffff;
  font-size: 3rem;
  margin: 1rem auto;
}
.banner p {
  font-size: 2rem;
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000, 0px 0px 5px #000000;
  font-weight: 400;
  margin: 0;
}
.banner a {
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  margin: 2rem 0;
}
.banner a:hover, .banner a:focus {
  background-color: #FEC93F;
  cursor: pointer;
}

.footer .content {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  overflow: hidden;
  height: auto;
  width: 90%;
  margin: 1rem auto 0 auto;
}
.footer .content article {
  display: flex;
  flex-direction: column;
}
.footer .content article div {
  margin: 0.2rem;
}
.footer .content article div a {
  width: auto;
  display: inline-flex;
}
.footer .content article div a img {
  width: 1rem;
  height: 1rem;
}
.footer .content article div a p {
  color: #ffffff;
  font-weight: 400;
  margin: auto 0.5rem;
}
.footer .content article div a p:hover {
  color: #FEC93F;
}
.footer .content .suscribe form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
}
.footer .content .suscribe form label {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
}
.footer .content .suscribe form input {
  background-color: #D1B06B;
  border: 2px solid #FEC93F;
  padding: 0.5rem;
  border-radius: 12px;
  color: #000000;
  font-family: "Cinzel", serif;
  margin: auto;
  transition: background-color 0.5s;
  margin-bottom: 1rem;
  padding: 0.2rem;
}
.footer .content .suscribe form input:hover, .footer .content .suscribe form input:focus {
  background-color: #FEC93F;
  cursor: pointer;
}
.footer .copy p {
  text-shadow: 0px 0px 5px #000000, 0px 0px 5px #000000;
  color: #FEC93F;
  font-family: "Cinzel", serif;
  font-weight: 200;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
