.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 4rem auto;
    gap: 2rem;
    .video {
        @include section;
        width: 100%;
        height: 20rem;
        iframe {
            width: 100%;
            height: 100%;
            margin: auto;
            border-radius: 8px;    
        }

        .controls{
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                @include interaction;
                background-color: $background--light;
                display: inline-block;
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                margin: 1rem;

        }

        }
    }

    .info {
        @include section;
        padding: 1rem;

        span {
            color: $secondary;
            margin-left: 1rem;
        }
        h3 {
            @include title;
            font-size: 3rem;
            margin: 0;
        }
        p {
            margin: 0 0 2rem 0;
        }
        a {
            @include interaction;
            @include button;
        }
    }
}