.banner {
    width: 100%;
    height: auto;
    margin: 1rem auto 0 auto;
/*  cover, need to put the source of the starting from css/style.css */
    background: url(../src/img/cabañas.jpg) no-repeat 0% 20%;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
        @include title;
        font-size: 2rem;
        margin-top: 2rem;
    }
    h3 {
        @include title;
        color: $white;
        font-size: 3rem;
        margin: 1rem auto;
    }
    p {
        font-size: 2rem;
        text-shadow: $hero--shadow;
        font-weight: 400;
        margin: 0;
    }
    a {
        @include button;
        @include interaction;
        margin: 2rem 0;
    }
}