.banner {
    width: 100%;
    height: auto;
    margin: 1rem auto 0 auto;
/*  cover, need to put the source of the starting from css/style.css */
    background: url(../src/img/cabañas.jpg) no-repeat 0% 20%;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4); //background that doesn't crashes with the form.

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    span {
        @include title;
        font-size: 2rem;
        margin-top: 2rem;
    }
    h3 {
        @include title;
        color: $white;
        font-size: 3rem;
        margin: 1rem auto;
    }
    p {
        font-size: 2rem;
        text-shadow: $hero--shadow;
        font-weight: 400;
        margin: 0;
    }
    a {
        @include button;
        @include interaction;
        margin: 2rem 0;
    }
}


@media (max-width: 480px) {
    .banner {
        span {
            font-size: 1.5rem;
        }
        h3 {
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
        }
    }
}