@mixin visit {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
    overflow: hidden;

}

@mixin place {
    box-shadow: $section--shadow;
    border-radius: 8px;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;


    &:hover, &:focus {
        img {
        transform: scale(1.1);
        @include transition;
        }
    }

        img {
            height: 15rem;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
        }
    
    .legend {
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;


        h4 {
            @include title;
        }

        p {
            font-size: 1rem;


        }
        div {
            display: flex;
            width: 100%;  
            margin-top: 2rem;  
            a {
                @include interaction;
                @include button;
                margin: 0 1rem 1rem auto;
                text-decoration: none;
                color: $black;
                position: absolute;
                bottom: 0px;
                right: 0px;
            }
        }
    }
}


.visit {
    @include visit;
    article {
        @include place;
        @include section;
    }
}