.reserve {
    width: 80%;
    margin: -4rem auto 1rem auto;
    padding: 2rem;
    background-color: $background--light; 
    border-radius: 8px;
    position: static;
    border: 2px solid $background--dark;
    box-shadow: $section--shadow;

    form {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr 2fr;
        gap: 1rem;


        .input {
            display: grid;
            gap: 1rem;
            color: $white;
            font-size: 1rem;

            select, input{
                width: 100%;
                background-color: $interaction--background;
                border: 2px solid $interaction--margin;
                height: 2rem;
                border-radius: 8px;
                &:focus, &:hover {
                    background-color: $interaction--margin;
                }
            }
        }

        
    }
}