

/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 137.5%; /* 1rem=22px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 125%; /* 1rem=20px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 112.5%; /* 1rem=18px */
    }
}

body {
    font-size: 1rem;
    background-color: $background;
    color: $white;
    font-family: $text;
    font-weight: 200;
    height: 200rem;
}
/* --END--BOX-SIZING AND REM CONFIG-- */

a {
    text-decoration: none;
}

//button
button {
    @include interaction;
    @include button;

}

h3 {
    text-align: center;
}