
$section--shadow: 0px 4px 10px #2E3947; /* this is a box-shadow valor */

//scrollbar colors
$scrollbar--background: #161D27;
$scrollbar--color: #FEC93F;
//nav
$background--dark--transparent: rgba(22, 29, 39, 95%);
//main colors
$background: #1F2732;
$white: #ffffff;
$black: #000000;
$secondary: #D1B06B;
$yellow: #FEC93F;
$background--dark: #161D27;
$background--light: #2E3947;

//interactions
$interaction--margin: #FEC93F;
$interaction--hover: #FEC93F;
$interaction--background: #D1B06B;

//icon colors

$yellow--strong: #FEA212;
$brown: #9B8060;
$brown--strong: #826249;
$brown--light: #B7A485;
$brick--light: #FF883E;
$brick--hard: #FF6638;

//extra colors
$sky: #7EB6D9;
$green: #667302;
$orange: #ce4126;
$red: #ca2801;
$brown--chocolat: #AA6000;





/* https://fonts.google.com/specimen/Cinzel?category=Serif
font-family: 'Cinzel', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

/* https://fonts.google.com/specimen/Plus+Jakarta+Sans?category=Sans+Serif
font-family: 'Plus Jakarta Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;1,300&display=swap');

/* https://fonts.google.com/specimen/Playfair+Display?preview.text=Guadalajara&preview.text_type=custom&category=Serif
font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap');

$title: 'Cinzel', serif;
$text: 'Plus Jakarta Sans', sans-serif;
$serif: 'Cormorant SC', serif;

/* --START--BOX-SIZING AND REM CONFIG-- */
html {
    font-size: 137.5%; /* 1rem=22px */
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

@media (max-width: 920px) {
    html {
        font-size: 125%; /* 1rem=20px */
        }
}

@media (max-width: 480px) {
    html {
    font-size: 112.5%; /* 1rem=18px */
    }
}

body {
    font-size: 1rem;
    background-color: $background;
    color: $white;
    font-family: $text;
}
/* --END--BOX-SIZING AND REM CONFIG-- */
html {
    scroll-behavior: smooth; //makes the click-scroll slowly
    scroll-padding-top: 4rem; //evitates cutting content
    
    &::-webkit-scrollbar { //scrollbar width
        width: 1rem;
    }
    &::-webkit-scrollbar-track { //scrollbar background
        background: $scrollbar--background;
    }
    &::-webkit-scrollbar-thumb { //scroll thumb color and border to make it easy to see
        background: $scrollbar--color;
        border-radius: 8px;
        border: 3px solid $scrollbar--background;
    }
}

a {
    text-decoration: none;
}

main {
    height: 100rem;
}

//button
button {
    padding: 0.5rem;
    background: $interaction--background;
    border: 2px solid $interaction--margin;
    margin: 0.5rem;
    border-radius: 8px;
    color: $black;
    font-family: $title;
    transition: all 1s;

    &:hover, &:focus {
                cursor: pointer;
                background-color: $interaction--hover;
                border: 2px solid $background--light;
    }
}
