//start mixins
@mixin transition {
    transition: all 0.2s linear;
}

@mixin interaction {
    background-color: $interaction--background;
    border: 2px solid $interaction--margin;
    &:hover, &:focus {
        background-color: $interaction--hover;
        cursor: pointer;
    }
}

@mixin button {
    padding: 0.5rem;
    border-radius: 12px;
    color: $black;
    font-family: $title;
    margin: auto;
    transition: background-color 0.5s;
}

@mixin title {
    text-shadow: 0px 0px 5px $black,
    0px 0px 5px $black;
    color: $yellow;
    font-family: $title;
    font-weight: 200;
}

@mixin section {
    background-color: $background--light;
    box-shadow: $section--shadow;
    border-radius: 8px;
    margin: auto;
}




