//start scroll style
html {
    scroll-behavior: smooth; //makes the click-scroll slowly
    scroll-padding-top: 4rem; //evitates cutting content
    
    &::-webkit-scrollbar { //scrollbar width
        width: 1rem;
    }
    &::-webkit-scrollbar-track { //scrollbar background
        background: $scrollbar--background;
    }
    &::-webkit-scrollbar-thumb { //scroll thumb color and border to make it easy to see
        background: $scrollbar--color;
        border-radius: 8px;
        border: 3px solid $scrollbar--background;
    }
}